.header {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	align-items: center;
	text-align: center;
}

.header__navigation_logout {
	display: flex;
	gap: 8px;
	align-items: center;
}

.link {
	display: flex;
	gap: 4px;
	align-items: center;
	text-decoration: none;
	color: white;
}

.header__navigation {
	display: flex;
	gap: 12px;
}

.menu {
	padding: 16px;
	display: flex;
	flex-direction: column;
}
