.header {
	padding: 16px 0;
	background-color: #03a9f4;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header__navigation_logout {
	display: flex;
	gap: 8px;
	align-items: center;
}

.link {
	display: flex;
	gap: 4px;
	align-items: center;
	text-decoration: none;
	color: white;
}

.header__navigation {
	display: flex;
	gap: 12px;
}
